
<article class="media content-section">
  <img src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" 
  class="rounded-circle article-img">
  <div class="media-body">

    <div class="article-metadata">
      
      <a class="mr-2" href="{{ url_for('accounts.user_posts', username=post.author.username) }}">
        {{ post.author.username|title }}
      </a>
      <small class="text-muted">
        Created on: {{ post.date_posted.strftime('%Y-%m-%d') }}
      </small>
      <small class="text-muted">
        Updated on:
        {% if post.date_updated %}
         {{ post.date_updated.strftime('%Y-%m-%d') }}
        {% endif %}
      </small>
      {% if post.author == current_user %}
        <a href="{{ url_for('posts.update_post', post_id=post.id) }}" class="btn btn-secondary btn-sm m-1">
          Update
        </a>
        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deletePostModal{{post.id}}"> 
          Delete
        </button>
      {% endif %}
    </div>

    <h2 class="article-title">
        {{ post.title }}
    </h2>
    <h5 class="article-content mb-3">
      <strong>{{ post.content }}</strong>
    </h5>
    
    
    {% include 'posts/post_comments.html' %}
    

    {% include 'posts/post_comment_form.html' %}

  </div>
</article>


<!-- Modal -->
<div class="modal fade" id="deletePostModal{{post.id}}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">
          Delete Post? 
          <i>
            {{ post.title }}
          </i>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method=POST>
          <input type="submit" class="btn btn-danger" value='Delete'>
        </form>
      </div>
    </div>
  </div>
</div>

