
<form class="input-group" method="POST" action="">
  
    {{ form.csrf_token() }}

        {% if form.text.errors %}
          {{ form.text(class="form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.text.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.text(class="form-control") }}
        {% endif %}

        {{ form.postid(
          value=post.id,
          class="form-control"
          ) 
        }}

      {{ form.submit(class="btn btn-outline-info") }}

  </form>