{% extends "base/base.html" %}
{% block content %}
  <h1>About Page</h1>
  <h3>Generic 'about' page</h3>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed reiciendis excepturi distinctio consequuntur sequi suscipit placeat sit recusandae? Eaque reiciendis eveniet facere ducimus vero minus dicta? Repellat architecto accusantium dolores cupiditate, tempora ullam impedit explicabo consectetur consequuntur amet quam numquam laboriosam cum quos, beatae ut similique illum, recusandae dignissimos aperiam nostrum suscipit debitis veniam rerum. Illo repellendus labore excepturi consequatur id, a mollitia necessitatibus aliquid adipisci, enim odio non numquam fuga quaerat in esse veritatis, voluptatem iusto aliquam dolorum commodi vel. Molestiae officiis a hic eum? Voluptates hic veritatis architecto explicabo ullam, laudantium dolore cum, deleniti ex at voluptatem doloremque?</p>

  <!-- <form action="" method="POST">
    <input type="text" id='id' name='name'>
    <button type="submit" class="btn btn-primary"> Submit</button>
  </form> -->


{% endblock content %}